.aside {
    max-width: 551px;
    @media (max-width: 1700px) {
        max-width: 400px;
    }
    @media (max-width: 1200px) {
        max-width: 350px;
    }
    &__wrapper {
        margin: 95px 213px 0px 0px;
        @media (max-width: 1700px) {
            margin: 95px 120px 0px 0px;
        }
        @media (max-width: 1200px) {
            margin: 95px 80px 0px 0px;
        }
        @media (max-width: 768px) {
            margin: 30px 0px 40px 0px;
        }
    }
    &__title {
        font-family: "STIX Two Text", serif;
        font-size: 80px;
        font-weight: 400;
        line-height: 137%;

        @media (max-width: 1700px) {
            font-size: 62px;
        }
        @media (max-width: 1200px) {
            font-size: 50px;
        }
        @media (max-width: 768px) {
            font-size: 36px;
        }
        @media (max-width: 576px) {
            font-size: 28px;
        }
    }
}
