.burger {
    display: block;
    position: absolute;
    top: 33px;
    right: 15px;
    z-index: 1209;
    transition: all 0.6s ease-out;
    @media (min-width: 576px) {
        right: 50px;
    }
    @media (min-width: 992px) {
        display: none;
    }
    &_opened {
        z-index: 1220;
    }
    &__wrapper {
        padding: 7px;
        width: 40px;
        height: 32px;
        border-radius: 3px;
    }
    &__items {
        & span {
            display: block;
            width: 26px;
            height: 2px;
            background: #bab2b5;
            border-radius: 2px;
            background: $color-main;
            transition: all 0.3s ease-out;
            &:not(:last-child) {
                margin: 0px 0px 6px 0px;
            }
        }
        &._opened {
            & span {
                &:nth-child(2) {
                    display: none;
                }
                &:first-child {
                    transform: rotate(45deg);
                    margin: 0px 0px 0px 0px;
                    position: relative;
                    top: 7px;
                }
                &:last-child {
                    transform: rotate(-45deg);
                    position: relative;
                    top: 5px;
                }
            }
        }
    }
}
