.button {
    padding: 24px 77px;
    height: 67px;
    background: #ffc59e;
    box-shadow: 0px 4px 20px #ffc59e;
    border-radius: 33.5px;

    font-weight: 900;
    font-size: 18.5px;
    line-height: 108%;
    color: #ffffff;
    @media (max-width: 1200px) {
        padding: 10px 60px;
        height: 55px;
        font-size: 16px;
    }
    @media (max-width: 992px) {
        padding: 10px 50px;
    }
    @media (max-width: 768px) {
        padding: 10px 40px;
        font-size: 14px;
        height: 45px;
    }
}
