.main {
    flex: 1 1 auto;
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__wrapper {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: 768px) {
            margin-top: 70px;
            flex-direction: row;
        }
    }
    &__button {
        margin-top: 20px;
        margin-left: 0;
        @media (min-width: 768px) {
            margin-left: 40%;
        }
    }
}
