.main {
    flex: 1 1 auto;
    &__container {
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
        }
    }
    &__wrapper {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
            margin-top: 50px;
            flex-direction: column;
        }
    }
    &__button {
        margin-top: 20px;
        margin-left: 40%;
        @media (max-width: 768px) {
            margin-left: 0;
        }
    }
    &__pages {
        & ul {
            display: flex;
            justify-content: flex-end;

            & > * {
                &:not(:last-child) {
                    margin-right: 16px;
                }
            }
        }
    }
    &__page {
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        color: $color-light;
        &_active {
            color: $color-text;
        }
    }
}
