.pages {
    & ul {
        display: flex;
        justify-content: flex-end;

        & > * {
            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }
    &_last {
        margin: 0;
        margin-top: 45px;
        @media (min-width: 768px) {
            margin: 0;
            margin-top: 58px;
        }
    }
    &__page {
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: $color-light;
        @media (min-width: 1400px) {
            font-size: 20px;
        }
        &_active {
            color: $color-text;
        }
    }
}
