$color-main: #59443f;
$color-accent: #ffc59e;
$color-text: #080606;
$color-light: #c3b9b5;

//Стрелки и точки для основного слайдера
%slider-settings {
    .slick-dots {
        margin: 10px 0px 0px 0px;
        display: flex;
        justify-content: center;
        & li {
            list-style: none;
            width: 10px;
            height: 10px;
            border: 2px solid $color-light;
            border-radius: 100%;
            &:not(:last-child) {
                margin: 0px 15px 0px 0px;
            }
            &.slick-active {
                background-color: $color-main;
                border: 2px solid $color-main;
            }
            & button {
                font-size: 0;
            }
        }
    }
    & .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        font-size: 0;
        width: 40px;
        height: 40px;
        &.slick-prev {
            left: 0px;
            background: url("../img/icons/experts/ic_arrow_prev.svg") 0 0 /100% no-repeat;
            &:hover {
                background: url("../img/icons/experts/ic_arrow_prev_hover.svg") 0 0 /100% no-repeat;
            }
        }
        &.slick-next {
            right: 0px;
            background: url("../img/icons/experts/ic_arrow_next.svg") 0 0 /100% no-repeat;
            &:hover {
                background: url("../img/icons/experts/ic_arrow_next_hover.svg") 0 0 /100% no-repeat;
            }
        }
    }
}
