.header {
    // position: relative;
    padding: 65px 0px;
    font-size: 18.5px;
    line-height: 108%;
    font-weight: 900;
    text-transform: uppercase;
    @media (max-width: 1590px) {
        font-size: 16px;
    }
    @media (max-width: 1200px) {
        padding: 30px 0px;
        font-size: 13px;
    }
    @media (max-width: 992px) {
        padding: 15px 0px;
        font-size: 18px;
    }
    @media (max-width: 768px) {
        font-size: 16px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // position: relative;
    }
    &__logo {
        @media (max-width: 992px) {
            width: 70px;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__location {
        @media (max-width: 992px) {
            position: fixed;
            display: block;
            bottom: 0;
            right: -100%;
            width: 60%;
            height: 90px;
            z-index: 1220;
            transition: all 0.6s ease-out;
            @media (max-width: 576px) {
                width: 80%;
            }
            &.opened-location {
                right: 0;
            }
        }
        &-wrapper {
            display: flex;
            align-items: center;
            color: $color-accent;
            cursor: pointer;
            &:hover {
                color: $color-main;
                & svg {
                    & path {
                        fill: $color-main;
                    }
                }
            }
            @media (max-width: 992px) {
                padding-top: 10px;
                justify-content: center;
                margin: 0 auto;
                z-index: 1201;
            }
        }
    }
    &__city {
        padding: 0px 0px 0px 6px;
    }
}
.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1200;
    background-color: rgba(8, 6, 6, 0.5);
    transition: all 2s ease-out;
    &_opened {
        display: block;
        animation-name: displayMenuOverflow;
        animation-duration: 1s;
    }
}
@keyframes displayMenuOverflow {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
.menu {
    flex: 1 1 auto;
    padding: 0px 0px 0px 235px;
    & #login {
        cursor: pointer;
    }

    @media (max-width: 1400px) {
        padding: 0px 0px 0px 120px;
    }
    @media (max-width: 1200px) {
        padding: 0px 0px 0px 70px;
    }
    @media (max-width: 992px) {
        padding: 0;
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        // left: 0;
        width: 60%;
        height: 100vh;
        // background-color: rgba(8, 6, 6, 0.5);
        z-index: 1215;
        transition: all 0.6s ease-out;
        &.opened-menu {
            right: -1px;
        }
    }
    @media (max-width: 576px) {
        width: 80%;
    }
    &__block {
        display: none;
        @media (max-width: 992px) {
            margin: 0 0 0 auto;
            display: block;
            width: 100%;
            height: 90px;
            background-color: #fff;
        }
        @media (max-width: 576px) {
            height: 70px;
        }
        &_bottom {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #fff;
        }
    }
    &__items {
        display: flex;
        @media (max-width: 992px) {
            // position: relative;
            margin: 0 0 0 auto;
            padding-top: 10px;
            padding-bottom: 100px;
            flex-direction: column;
            width: 100%;
            align-items: center;
            background-color: #fff;
            height: calc(100vh - 90px);
            overflow: scroll;
        }
        @media (max-width: 576px) {
            height: calc(100vh - 70px);
            padding-bottom: 10px;
            padding-top: 0;
        }
    }
    &__item {
        color: $color-light;
        @media (max-width: 992px) {
            padding: 10px;
        }
        &:not(:last-child) {
            padding: 0px 78px 0px 0px;
            @media (max-width: 1590px) {
                padding: 0px 50px 0px 0px;
            }
            @media (max-width: 1200px) {
                padding: 0px 30px 0px 0px;
            }
            @media (max-width: 992px) {
                padding: 10px 10px 30px 10px;
                justify-self: center;
            }
            @media (max-width: 576px) {
                padding: 10px 10px 20px 10px;
            }
        }
        & a {
            color: $color-light;
            @media (max-width: 992px) {
                padding: 10px;
            }
            &:hover {
                color: $color-main;
            }
        }

        &#spoiler {
            position: relative;
        }
    }
}

.spoiler {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        top: 42%;
        right: 5px;
        width: 9px;
        height: 3px;
        transform: rotate(45deg);
        background-color: $color-light;
        border-radius: 3px;
        @media (max-width: 1200px) {
            width: 7px;
            right: 7px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 42%;
        right: 0px;
        width: 9px;
        height: 3px;
        transform: rotate(-45deg);
        background-color: $color-light;
        border-radius: 3px;
        @media (max-width: 1200px) {
            width: 7px;
            right: 3px;
        }
    }
    &:hover {
        color: $color-main;
        &::before {
            background-color: $color-main;
        }
        &::after {
            background-color: $color-main;
        }
    }

    &__wrapper {
        padding: 30px;
        position: absolute;
        top: 30px;
        left: -30px;
        display: none;
        flex-direction: column;
        width: 230px;

        background: #ffffff;
        box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
        border-radius: 20px;

        z-index: 1099;
        & > * {
            &:not(:last-child) {
                margin-bottom: 15px;
                @media (max-width: 992px) {
                    margin-bottom: 10px;
                }
                @media (max-width: 576px) {
                    margin: 0;
                }
            }
        }
        @media (max-width: 992px) {
            padding: 0;
            width: 100%;
            position: static;
            background: none;
            box-shadow: none;
            border-radius: none;
            align-items: center;
        }
    }
    &__item {
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        color: $color-text;
        text-transform: none;
        cursor: pointer;
        & a {
            display: block;
            color: inherit;
        }
        &:hover {
            font-weight: 800;
        }
        @media (max-width: 992px) {
            font-weight: 500;
            line-height: 108%;
            color: $color-light;
            text-transform: uppercase;
        }
        @media (max-width: 768px) {
            font-size: 13px;
        }
    }
}

#spoiler {
    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.opened-spoiler {
    display: flex;
    @media (max-width: 992px) {
        padding-top: 15px;
    }
}
