.promo {
    position: relative;
    @media (min-width: 992px) {
        padding: 20px 0px 0px 0px;
    }
    @media (min-width: 1590px) {
        padding: 65px 0px 0px 0px;
    }
    &__dots {
        position: absolute;
        display: block;
        top: 94%;
        left: 0;
        width: 100%;
        z-index: 1099;
        @media (min-width: 576px) {
            top: 30px;
            left: 30px;
            width: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media (min-width: 1200px) {
            left: 60px;
        }
        @media (min-width: 1400px) {
            top: 65px;
            left: 110px;
        }
        & .slick-dots {
            padding: 0px 70px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            @media (min-width: 576px) {
                padding: 0;
                display: block;
                width: auto;
            }
            & li {
                &:not(:last-child) {
                    @media (min-width: 576px) {
                        margin: 0px 0px 30px 0px;
                    }
                    @media (min-width: 1200px) {
                        margin: 0px 0px 50px 0px;
                    }
                    @media (min-width: 1400px) {
                        margin: 0px 0px 70px 0px;
                    }
                }
                &.slick-active {
                    & button {
                        color: $color-text;
                    }
                }
            }
            & button {
                font-size: 14px;
                font-weight: 900;
                color: $color-light;
                background: inherit;
                position: relative;
                @media (min-width: 992px) {
                    font-size: 18px;
                }
                @media (min-width: 1400px) {
                    font-size: 20px;
                }
            }
        }
    }
    &__links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 230px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1099;
        @media (min-width: 400px) {
            top: 210px;
        }
        @media (min-width: 576px) {
            display: block;
            left: 120px;
            transform: none;
        }
        @media (min-width: 768px) {
            top: 230px;
            left: 190px;
        }
        @media (min-width: 992px) {
            top: 300px;
        }
        @media (min-width: 1200px) {
            top: 370px;
            left: 280px;
        }
        @media (min-width: 1400px) {
            left: 415px;
        }
        @media (min-width: 1590px) {
            top: 466px;
            
        }
    }
    &__social {
        margin: 40px 0px 0px 0px;
        width: 230px;
        @media (min-width: 768px) {
            margin: 80px 0px 0px 0px;
        }
        @media (min-width: 992px) {
            margin: 120px 0px 0px 0px;
            width: 310px;
        }
        @media (min-width: 1200px) {
            margin: 160px 0px 0px 0px;
        }
        @media (min-width: 1590px) {
            margin: 197px 0px 0px 0px;
        }
    }
    &__phone {
        position: absolute;
        bottom: 50px;
        left: 50%;
        z-index: 1099;
        font-weight: 900;
        font-size: 14px;
        line-height: 125%;
        text-align: center;
        color: $color-main;
        transform: translateX(-50%);
        @media (min-width: 576px) {
            left: 120px;
            bottom: 20px;
            text-align: right;
            transform: none;
        }
        @media (min-width: 768px) {
            bottom: 70px;
            right: 30px;
            font-size: 18px;
        }
        @media (min-width: 992px) {
            font-size: 24px;
            right: 80px;
            bottom: 80px;
        }
    }
}

.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}

.slider {
    & .slick-list {
        position: relative;
        height: 450px;
        @media (min-width: 576px) {
            height: 400px;
        }
        @media (min-width: 768px) {
            height: 460px;
        }
        @media (min-width: 992px) {
            height: 585px;
        }
        @media (min-width: 1200px) {
            height: 700px;
        }
        @media (min-width: 1590px) {
            height: 785px;
        }
    }
    & .slick-track {
        height: 100%;
    }
    &__item {
        margin: 0px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
        @media (min-width: 576px) {
            margin: 0px 0px 0px 120px;
        }
        @media (min-width: 768px) {
            margin: 0px 0px 0px 190px;
        }
        @media (min-width: 1200px) {
            margin: 0px 0px 0px 255px;
        }
        @media (min-width: 1400px) {
            margin: 0px 0px 0px 415px;
        }
    }
    &__title {
        margin: 21px 0px 0px 0px;
        font-family: "STIX Two Text", serif;
        font-size: 35px;
        font-weight: 400;
        line-height: 137%;
        width: 100%;
        @media (min-width: 576px) {
            width: 350px;
        }
        @media (min-width: 992px) {
            font-size: 45px;
            width: 430px;
        }
        @media (min-width: 1200px) {
            font-size: 60px;
            width: 610px;
        }
        @media (min-width: 1590px) {
            width: 800px;
            font-size: 80px;
        }
    }
    &__content {
        margin: 0px auto;
        padding: 0px 15px;
        width: 290px;
        text-align: center;
        @media (min-width: 400px) {
            width: 350px;
        }
        @media (min-width: 576px) {
            margin: 0;
            text-align: left;
            width: auto;
        }        
    }
    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0.2;
        height: 100%;
        @media (min-width: 576px) {
            height: 280px;
            opacity: 1;
        }
        @media (min-width: 650px) {
            height: 350px;
        }
        @media (min-width: 992px) {
            height: 500px;
        }
        @media (min-width: 1200px) {
            height: 700px;
        }
        @media (min-width: 1590px) {
            height: auto;
        }
        &_1 {
            height: 600px;
            @media (min-width: 1400px) {
                height: auto;
            }
        }

        &_2 {
            right: 15px;
            height: 650px;
            @media (min-width: 1400px) {
                height: auto;
                right: 60px;
            }
            @media (min-width: 1720px) {
                right: 190px;
            }
        }
        &_3,
        &_5 {
            right: 60px;
            @media (min-width: 768px) {
                right: 15px;
            }
            @media (min-width: 1400px) {
                right: 160px;
            }
            @media (min-width: 1720px) {
                right: 250px;
            }
        }
        &_4 {
            bottom: 70px;
            right: 60px;
            height: 350px;
            @media (min-width: 650px) {
                right: 115px;
                height: 400px;
            }
            @media (min-width: 768px) {
                
            }
            @media (min-width: 1400px) {
                height: auto;
                right: 220px;
            }
            @media (min-width: 1720px) {
                right: 320px;
                bottom: 163px;
            }
        }
        &_6 {
            right: 15px;
            bottom: 40px;
            height: 600px;
            @media (min-width: 1400px) {
                height: auto;
                bottom: 118px;
            }
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
            @media (min-width: 576px) {
                object-fit: cover;
                object-position: unset;
            }
        }
    }
}

.social {
    display: flex;
    justify-content: space-between;
    &__social {
        &-icon {
            width: 30px;
            height: 30px;
            background-color: $color-light;
            border-radius: 100%;
            @media (min-width: 992px) {
                width: 40px;
                height: 40px;
            }
            &:hover {
                background-color: $color-accent;
            }
            & a {
                position: relative;
                padding: 5px;
                display: inline-block;
                @media (min-width: 992px) {
                    padding: 6px;
                }
            }
            &_whatup {
                & a {
                    padding: 6px;
                    @media (min-width: 992px) {
                        padding: 8px;
                    }
                }
            }
            &_telegram {
                & a {
                    padding-top: 8px;
                    padding-left: 6px;
                    padding-right: 7px;
                    @media (min-width: 992px) {
                        padding-top: 12px;
                        padding-left: 8px;
                        padding-right: 0;
                    }
                }
            }
            &_vk {
                & a {
                    @media (min-width: 992px) {
                        padding-top: 7px;
                    }
                }
            }
            & img {
                width: 100%;
                height: 100%;
                @media (min-width: 992px) {
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}
