.appointment {
    &__options {
        & > * {
            &:not(:last-child) {
                margin: 0px 0px 24px 0px;
            }
        }
    }
}

.appointment-options {
    &__item {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 121%;
        color: $color-text;
        background: #ffffff;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        @media (min-width: 768px) {
            padding: 32px;
            font-size: 16.5px;
        }
        &:hover {
            border: 1px solid #c3b9b5;
        }
    }
}

.order {
    & input,
    textarea {
        padding: 16px;
        width: 100%;
        background: #ffffff;
        border: 1px solid #ede9e8;
        box-sizing: border-box;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 125%;
        color: $color-main;
        @media (min-width: 400px) {
            font-size: 20px;
        }
        &::placeholder {
            font-size: 16px;
            font-weight: 500;
            line-height: 125%;
            color: $color-light;
            @media (min-width: 400px) {
                font-size: 20px;
            }
        }
    }
    &__col {
        display: flex;
        flex-direction: column;
        @media (min-width: 1200px) {
            flex-direction: row;
        }
        & > * {
            &:not(:last-child) {
                margin: 0px 0px 24px 0px;
                @media (min-width: 1200px) {
                    margin: 0px 25px 0px 0px;
                }
            }
        }
    }
    &__time {
        @media (min-width: 576px) {
            display: flex;
        }
        & > * {
            &:not(:last-child) {
                margin: 0px 0px 24px 0px;
                @media (min-width: 576px) {
                    margin: 0px 10px 0px 0px;
                }
            }
        }
    }
    & textarea {
        min-height: 171px;
        resize: none;
    }
}
