.content {
    padding: 10px 0px 70px 0px;
    width: 100%;
    min-height: 500px;
    @media (min-width: 768px) {
        padding: 10px 0px 100px 0px;
        width: 60%;
    }
    &__pages {
        margin-bottom: 45px;
        @media (min-width: 768px) {
            margin-bottom: 33px;
            margin-top: -67px;
        }
    }
}

.content-container {
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    color: $color-main;
    @media (min-width: 576px) {
        font-size: 18px;
    }
    @media (min-width: 992px) {
        font-size: 20px;
    }
    @media (min-width: 1800px) {
        padding-right: 150px;
    }
    & > * {
        &:not(:last-child) {
            margin-bottom: 20px;
            @media (min-width: 576px) {
                margin-bottom: 30px;
            }
        }
    }
}

.content-title {
    font-family: "STIX Two Text", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 133%;
    color: $color-text;
    @media (min-width: 576px) {
        font-size: 26px;
    }
    @media (min-width: 992px) {
        font-size: 30px;
    }
}

.content-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: $color-light;
    @media (min-width: 576px) {
        font-size: 18px;
    }
    @media (min-width: 992px) {
        font-size: 20px;
    }
}

.content-list {
    & li {
        &::before {
            content: "- ";
        }
    }
}

.content-slider {
    margin: 0 auto;
    position: relative;
    width: 100%;
    & .slick-list {
        position: relative;
        @media (min-width: 500px) {
            width: 70%;
        }
        @media (min-width: 992px) {
            margin: 0 45px;
        }
    }
    .slick-track {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @extend %slider-settings;
    &__item {
        position: relative;
        padding: 20px;
        margin: 12px;
        background: #ffffff;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        &:hover {
            background: $color-accent;
            & .content-slider__name,
            .content-slider__date {
                color: #fff;
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
            align-items: center;
        @media (min-width: 576px) {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        @media (min-width: 576px) {
            margin-bottom: 0;
            width: 50px;
            height: 50px;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    &__info {
        margin: 0px 0px 0px 16px;
        display: flex;
        flex-direction: column;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        line-height: 95%;
        color: $color-text;
        margin: 0px 0px 10px 0px;
        @media (min-width: 576px) {
            font-size: 20px;
        }
    }
    &__date {
        font-size: 16px;
        font-weight: 500;
        line-height: 139%;
        color: $color-light;
        @media (min-width: 576px) {
            font-size: 18px;
        }
    }
}

.content-img {
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &_flex {
        display: flex;
        width: 100%;
        column-gap: 15px;
        @media (min-width: 576px) {
            column-gap: 30px;
        }
        @media (min-width: 1200px) {
            column-gap: 50px;
        }
    }
}

.content-table {
    display: flex;
    flex-direction: column;
    &__item {
        padding: 14px 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 14px;
        font-weight: 500;
        line-height: 121%;
        color: $color-text;

        border-radius: 15px;
        background-color: rgba(255, 254, 254, 0.3);
        @media (min-width: 992px) {
            font-size: 16.5px;
        }
        &:nth-child(odd) {
            background-color: rgba(237, 233, 232, 0.3);
        }
    }
    &__price {
        padding-left: 20px;
        flex: 0 0 auto;
    }
}
