.experts {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        gap: 25px;
        @media (min-width: 1600px) {
            grid-template-columns: repeat(2, minmax(400px, auto));
        }
    }
}

.experts-block {
    &__item {
        padding: 30px;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        border: 1px solid transparent;
        @media (min-width: 576px) {
            flex-direction: row;
        }
        &:hover {
            border: 1px solid $color-main;
        }
    }
    &__photo {
        margin-bottom: 20px;
        @media (min-width: 576px) {
            margin: 0;
            margin-right: 20px;
        }
    }
    &__image {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 100px;
        @media (min-width: 992px) {
            width: 100px;
            margin-bottom: 20px;
        }
        @media (min-width: 1650px) {
            width: 130px;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    &__experience {
        font-size: 14px;
        font-weight: 900;
        line-height: 133%;
        color: $color-accent;
        text-align: center;
        @media (min-width: 992px) {
            font-size: 15px;
        }
    }
    &__info {
        & > * {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    &__paragraph {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        color: $color-light;
        @media (min-width: 992px) {
            font-size: 15px;
        }
    }
    &__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 125%;
        color: $color-text;
        @media (min-width: 992px) {
            font-size: 20px;
        }
    }
}

.expert {
    &__title {
        margin-bottom: 0 !important;
    }
}

.expert-slider {
    position: relative;
    & .slick-list {
        position: relative;
        margin: 0 auto;
        width: 100%;
        @media (min-width: 500px) {
            width: 70%;
        }
        @media (min-width: 992px) {
            width: 100%;
            margin: 0 45px;
        }
    }
    &__item {
        margin: 0 8px;
        padding: 16px;
        background: #ffffff;
        border: 1px solid #ede9e8;
        box-sizing: border-box;
        border-radius: 20px;
    }
    .slick-track {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @extend %slider-settings;
}

.feedback {
    padding-top: 100px;
    &__title {
        margin-bottom: 0 !important;
    }
    &__pages {
        margin-bottom: 45px;
        @media (min-width: 768px) {
            margin-top: -57px;
            margin-bottom: 33px;
        }
    }
    &__wrapper {
        & > * {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

.feedback-block {
    padding: 20px;
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: repeat(2, auto);
    column-gap: 10px;
    row-gap: 20px;
    background: #ffffff;
    border: 1px solid #ede9e8;
    box-sizing: border-box;
    border-radius: 20px;
    @media (min-width: 992px) {
        padding: 30px;
        grid-template-columns: 130px auto;
        column-gap: 30px;
    }
    &__img {
        grid-row: 1/1;
        width: 80px;
        height: 80px;
        @media (min-width: 576px) {
            grid-row: 1/3;
        }
        @media (min-width: 992px) {
            width: 130px;
            height: 130px;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    &__light {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        color: $color-light;
        @media (min-width: 992px) {
            font-size: 15px;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__name {
        font-size: 16px;
        font-weight: 500;
        line-height: 125%;
        color: $color-text;
        @media (min-width: 992px) {
            font-size: 20px;
        }
    }
    &__number {
        font-size: 14px;
        font-weight: 400;
        line-height: 125%;
        color: $color-main;
        @media (min-width: 992px) {
            font-size: 16px;
        }
    }
    &__body {
        grid-column: 1/3;
        @media (min-width: 576px) {
            grid-column: 2/3;
        }
    }
    &__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        color: $color-main;
        @media (min-width: 992px) {
            font-size: 20px;
        }
    }
}
